.listItem__wrapper {
  display: flex;
align-items: center;
  list-style: none;
  padding: 50px 30px;
margin-left: 100px;
  .listItem__image {
    flex-shrink: 0;
    margin-right: 30px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  .listItem__name {
    color: #1E58FF;
    font-weight: 700;
  }

  .listItem__description {
    font-weight: 500;
    margin: 20px 0 30px;
  }

  .listItem__button {
    font-weight: 500;
    background-color: transparent;
    border: solid 2px #1E58FF;
    color: #1E58FF;
    padding: 7px 12px;
    font-size: 12px;
    text-decoration: none;
    transition: .3s linear;
    &:hover{
      background-color: #1E58FF;
      color: white;
    }
  }
}
