@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');
@import "components/ListWrapper/ListItem/ListItem";
@import "components/ListWrapper/ListWrapper";
*, *:after, *:before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body{
  font-family: 'Montserrat', sans-serif;
}
